# https://docs.docker.com/compose/extends/
# The dockerfile has been split into 3 parts to support multiple environments.
# This file contains just about everything except for host bound ports and volumes
#
# Local Dev port and volume settings go in docker-compose.override.yml
version: "2"
services:
  app:
    build:
      context: ./
      args:
        NPM_TOKEN: ${NPM_TOKEN}
    environment:
      - NODE_ENV=${NODE_ENV}
      - DEPLOY_ENVIRONMENT=${DEPLOY_ENVIRONMENT}
      - SHA=${sha}
      - NPM_TOKEN=${NPM_TOKEN}
  storybook:
    build:
      context: ./
      dockerfile: Dockerfile.storybook
      args:
        NPM_TOKEN: ${NPM_TOKEN}
    environment:
      - STORYBOOK=true
      - NODE_ENV=${NODE_ENV}
      - LOG_LEVEL=${LOG_LEVEL}
      - DEPLOY_ENVIRONMENT=${DEPLOY_ENVIRONMENT}
      - NPM_TOKEN=${NPM_TOKEN}

